﻿/* This CSS file overrides Backoffice styles */ 

/* Top Menu background button color */
ul.sections {
    background-color: #413659; /* light purple */
}

/* Top Menu active background button color */
ul.sections li.current {
    background-color: #2E2246; /* dark purple */
}

/* Top Menu background color and link color */
.umb-app-header {
    background-color: #413659; /* light purple */
}
ul.sections > li.current a {
    color: #ffffff;
}
ul.sections > li > a::after {
    background-color: #00AEA2; /* teal */
}

/* Left Nav active section */
.umb-tree-item.current > .umb-tree-item__inner {
    background: #00AEA2; /* teal */
}
.umb-tree-item.current > .umb-tree-item__inner .umb-tree-icon, .umb-tree-item.current > .umb-tree-item__inner .umb-tree-item__arrow, .umb-tree-item.current > .umb-tree-item__inner a {
	color: #ffffff !important; 
}

/* Nested Content active item */
.umb-nested-content__item--active > .umb-nested-content__header-bar .umb-nested-content__heading, .umb-nested-content__item--active > .umb-nested-content__header-bar .umb-nested-content__icons {
    background-color: #B9BBB6; /* light gray */
}

/* Block List active item */
.blockelement-labelblock-editor.--active {
    background-color: #B9BBB6; /* light gray */
}

/* Main Tabs, Content Tab */
.umb-sub-views-nav-item__anchor_dropdown li.is-active a {
    border-left-color: #00AEA2; /* teal */
}
.umb-sub-views-nav-item > a::before, .umb-sub-views-nav-item__action::before, .umb-tab > a::after, .umb-tab-button::after {
    background-color: #00AEA2; /* teal */
}
.umb-tab--active > .umb-tab-button, .umb-tab-button:hover {
    color: #00405A; /* dark blue */
}

/* Avatar */
.umb-avatar--primary, .umb-avatar--secondary {
    background-color: #b3afbd;
    color: #000000;
}